**/.env
**/.DS_Store
**/node_modules

arcane/
bazarr/
cloudflared/
config/
data/
deluge/
ersatztv/
!kometa/config/
overseerr/
protonvpn/
prowlarr/
radarr/
sonarr/
status/
tautulli/
ticketing/
vpn/
wizarr/
