**/.env
**/.DS_Store
**/node_modules

arcane/
bazarr/
booklore/
bookloredb/
bookshelf/
cloudflared/
config/
data/
deluge/
ersatztv/
!kometa/config/
nginx/
overseerr/
protonvpn/
prowlarr/
qbittorrent/
radarr/
sonarr/
status/
tautulli/
ticketing/
vpn/
wizarr/
